extends ../layout

block content
    div.d-inline-flex.flex-row.w-100
        div.w-50
            if boards
                each  board, i  in boards
                    .card.pl-0.pr-0.m-5
                        .card-body.container-fluid.row
                            h5.card-title.col-sm #{board.board_name}
                            div.col-sm
                                h6 users
                                ul.list-group.w-50
                                    if users
                                        each user,i in users
                                                li.list-group-item  #{board.users}


                            div.col-sm
                                h6 columns
                                ul.list-group.w-50
                                    if board.columns!=null
                                        each column,i in board.columns
                                            li.list-group-item  #{column.column_name}
                                                span.badge.badge-primary.badge-pill
                            a.btn.btn-primary(href='/settings/delete/'+board.board_name) Delete
                            a.btn.btn-primary(href='#  ') Edit

        div.w-50.border-dark
            if users!=null
                    each user , i in users
                        ul.list-group.w-50
                            li.list-group-item  #{user.username}
                                span
                                    ion-icon(name='trash').alert-danger



            