extends layout

block content

    .background.w-100.h-100(style='background-image: url(/images/background.jpeg')
        section.login-block.active


            .col-md-4.login-sec.w-25.h-25.ml-5.ml-5.mt-5(class="loginsquare",style="background-color:white;")
                h2.text-center Login Now

                form.login-form.col-md-6.offset-md-3(method='post', action='/login')
                    .form-group
                        label.text-uppercase Username
                        input.form-control(placeholder='', type='text' name ="username")
                    .form-group
                        label.text-uppercase Password
                        input.form-control(placeholder='', type='password' name="password")
                    .form-check
                        label.form-check-label
                            input.form-check-input(type='checkbox').float-left
                            label.ml-4 Remember Me
                        button.btn.btn-login.float-right(type='submit') Submit

